<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Artists</title>
</head>
<body>
    <header>
        <h1>All Artists</h1>
    </header>
    <main>
        <ul class="artistList">
            <li th:each="artist : ${artists}">
                <a th:href="|@{/artists/}${artist.name}|">
		    		<span th:text="${artist.name}"></span>
                </a>
                <button class="deleteArtist">Delete</button>
                <button class="editArtist">Edit</button>
            </li>
        </ul>
        <h2>Add an artist</h2>
        <div>
            <label>Artist name: <input type="text" name="artistNameApi" placeholder="Name"/></label>
            <label>Record Label: <input type="text" name="recordLabelApi" placeholder="Record Label" /></label>
            <button class="submitArtist">Submit</button>
        </div>
    </main>
    <footer>
        <small>&copy; 2018</small> 
    </footer>
    <script src="/js/artistsapp.js"></script>
</body>
</html>