<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title th:text="|Artist: ${artist.name}|"></title>
</head>
<body>
    <header>
        <h1 th:text="|Artist: ${artist.name}|">
        </h1>
        <h3 th:text="|Label: ${artist.recordLabel}|"></h3>
    </header>
    <main>
        <h2>Albums</h2>
        <ul class="albumList">
            <li th:each="album : ${artist.albums}">
                <a th:href="|@{/artists/}${artist.name}@{/album/}${album.albumName}|">
                    <span th:text="${album.albumName}"></span>
                </a>
                <button class="deleteAlbum">Delete</button>
                <button class="editAlbum">Edit</button>
            </li>
        </ul>
        <h2>Add an album</h2>
        <div>
            <label>Album name: <input type="text" name="albumNameApi" placeholder="Album Name"/></label>
            <label>Release Date: <input type="text" name="releaseDateApi" placeholder="Release Date" /></label>
            <label>Genre: <input type="text" name="genreApi" placeholder="Genre" /></label>
            <input type="hidden" name="artistName" th:value="${artist.name}"></input>
            <button class="submitAlbum">Submit</button>
        </div>
    </main>
    <footer>
        <a class="artistsLink" th:href="@{/artists}">Return to All Artists page</a>
        <br />
        <small>&copy; 2018</small> 
    </footer>
    <script src="/js/artistapp.js"></script>
</body>
</html>